@model PawsitiveHealthHub.Models.Appointments

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Appointment</h1>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentID" />
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label">Owner</label>
                <input class="form-control" value="@Model.Owner.FirstName @Model.Owner.LastName" readonly />
                <input type="hidden" asp-for="OwnerID" />
            </div>
            <div class="form-group">
                <label asp-for="PetID" class="control-label">Pet Name</label>
                <select asp-for="PetID" class="form-control" asp-items="ViewBag.PetID"></select>
                <span asp-validation-for="PetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetID" class="control-label">Vet</label>
                <select asp-for="VetID" class="form-control" asp-items="ViewBag.VetID"></select>
                <span asp-validation-for="VetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
